<header>
  <nav class="navbar">
    <section class="logos-container">
      <a class="navbar__link" href="">
        <figure class="logos-header">
          <img
            class="logos-header__img"
            src="../../../assets/logos/bitsports.png"
            alt="client logo"
          />
        </figure>
      </a>
      <a class="navbar__link" href="">
        <figure class="logos-header">
          <img
            class="logos-header__img"
            src="../../../assets/icons/logo-goMango.svg"
            alt="Go Mango logo"
          />
        </figure>
      </a>
    </section>
    <section class="options options_visible">
      <ul class="menu">
        <li class="menu__items">
          <a class="menu__link" href=""> Inicio </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Beneficios propios </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Actividades </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Cumpleaños </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Novedades </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Sorteos </a>
        </li>
        <li class="menu__items">
          <a class="menu__link" href=""> Sugerencias </a>
        </li>
      </ul>
      <button class="btn-login">
        <figure class="profile">
          <img
            class="profile__img"
            src="../../../assets/avatar.png"
            alt="profile-avatar"
          />
        </figure>
        <p class="logIn-text">Iniciar sesión</p>
      </button>
    </section>
  </nav>
</header>
