@import "../../../../styles.scss";

header {
  background: $primary;
  padding: 0 5vw;
  width: 100%;
  height: auto;
  position: sticky;
  z-index: 999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logos-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      width: min(90vw, 120rem);
      height: auto;
      //margin-inline: auto;
      background: $secondary-10;
      border-radius: 0 0 12px 12px;
      .logos-header {
        width: min(100% - 0.5rem, 24rem); //anchototal - padding, maxwidth
        height: auto;
        margin-inline: auto;
        display: flex;
        align-items: center;
        &__img {
          width: min(100%, 10em); //width: 10em;
          height: auto;
          margin-inline: auto;
        }
      }
    }

    .options {
      display: flex;
      column-gap: 1em; //justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      width: min(90vw, 120rem);
      height: auto;
      //margin: 0 auto;
      max-width: 120rem;

      .menu {
        display: flex;
        width: 78.5%; //min(15vw, 120rem);
        align-items: center;

        &__items {
          flex: 1 2 auto;
          text-align: center;
          white-space: nowrap;
          margin-bottom: 0;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;

          &:hover {
            background: $primary-80;
            border-radius: 0.75rem;
            height: auto;
          }
        }
      }
      .btn-login {
        background: $primary-80;
        border: none;
        cursor: pointer;
        border-radius: 1rem;
        gap: 0.5rem;
        display: flex;
        align-items: center;
        flex: 1 3 0; //width: min(100% - 2rem, 20rem);
        height: auto;
        padding: 0.5rem 1rem;

        .profile {
          display: flex;
          align-items: center;
          width: 3.6rem;
          height: 3.6rem;
          &__img {
            width: 87.5%;
            height: auto;
            margin-inline: auto;
          }
        }

        .logIn-text {
          font-family: "Catamaran";
          font-style: normal;
          font-weight: 500;
          font-size: $text-base;
          color: $secondary-10;
        }
      }
    }
  }
}
